@define-color app_background #202020;
@define-color app_border #ffc480;

@define-color input #ffc480;
@define-color input_caret #ffc480;
@define-color input_selected #404040;
@define-color input_selected_bg #ffc480;

@define-color shadow #000000;

@define-color item_text #806a40;
@define-color item_name #ccaa66;
@define-color item_shortcut #806a40;

@define-color selected_item_stop1 #202020;
@define-color selected_item_stop2 #403c33;
@define-color selected_item_text #ffc480;
@define-color selected_item_name #ffc480;
@define-color selected_item_shortcut #ffc480;

.app {
    background-color: @app_background;
    border-color: @app_border;
    border-radius: 0;
    box-shadow: 0 0 5px black;
}

.input {
    color: @input;
    font-weight: 200;
    font-size: 125%;
    letter-spacing: 1px;
    padding: 0;
}

.input *:selected, .input *:focus, *:selected:focus {
    background-color: @input_selected_bg;
    color: @input_selected;
}

.item-text {
    color: @item_text;
    font-weight: 200;
    letter-spacing: 1px;
}

.item-name {
    color: @item_name;
    font-weight: 200;
    letter-spacing: 1px;
}

.item-shortcut {
    color: @item_shortcut;
}

.selected.item-box {
    background: radial-gradient(@selected_item_stop1, @selected_item_stop2);
}

.selected.item-box .item-text {
    color: @selected_item_text;
    text-shadow: 0 0 1px @shadow;
}

.selected.item-box .item-name {
    color: @selected_item_name;
    text-shadow: 0 0 1px @shadow;
}

.selected.item-box .item-shortcut {
    color: @selected_item_shortcut;
    text-shadow: 0 0 1px @shadow;
}

.prefs-btn {
}

.prefs-btn:hover {
}
